/* Layout 전체 래퍼 */
.layout-root {
    background-color: #242424;
    color: rgba(255,255,255,0.87);
}

/* 사이드바 */
.layout-root .sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-y: auto;
    background: #333;
}

/* 토글 버튼 */
.layout-root .btn-toggle {
    display: flex;
    align-items: center;
    width: 100%;
    padding: .5rem;
    background: transparent;
    border: none;
}

/* collapsed 상태 */
.layout-root .nav-sidebar-collapsed .btn-toggle span {
    display: none;
}
.layout-root .nav-sidebar-collapsed .btn-toggle {
    justify-content: center;
}
